:root {
    --primary-them-color: #087ea4;
    --secondary-them-color: #087ea4;
    --primary-background-color: #16181d;
    --secondary-background-color: #23272f;
    --primary-tex-color: #f7f8f9;
    --secondary-tex-color: #888;
    --primary-shadow-color: #ffffff80;
    --secondary-shadow-color: #ffffff80;
    --light-primary-shadow: #00000040;
    --primary-font-family: 'Source Code Pro', monospace;
    --max-width: 1024px;
    --element-spacing: 32px;
    --element-size: 16px;
    --border-radius: 16px;
    --transition-duration: 0.25s;
}

.body {
    margin: 0;
    background-color: #16181d;
    color: #f7f8f9;
    font-family: 'Source Code Pro', monospace;
}